.projects {
  padding: 20px;
  margin: 0 auto;
  width: calc(100% - 20px);

  & > * + * {
    margin-top: 1.5rem;
  }

  .body{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px,1fr));  
    grid-gap: 2rem;
  }
}
