@mixin display-flex($orientation, $main-axis, $secondary-axis) {
  display: flex;
  flex-direction: $orientation;
  align-items: $secondary-axis;
  justify-content: $main-axis;
}
@mixin font-sizes($font-size, $line-heiht) {

  @media screen and (min-width:50rem) {
    font-size: $font-size;
    line-height: $line-heiht;
  }
  
}
