@mixin display-flex($orientation, $main-axis, $secondary-axis) {
  display: flex;
  flex-direction: $orientation;
  align-items: $secondary-axis;
  justify-content: $main-axis;
}
@mixin font-sizes($font-size, $line-heiht) {
  font-size: $font-size;
  line-height: $line-heiht;
}
