.bg-col-white-100 {
  background-color: var(--color-white-100);
}
.bg-col-white-200 {
  background-color: var(--color-white-200);
}
.bg-col-black-100 {
  background-color: var(--color-black-100);
}
.bg-col-black-200 {
  background-color: var(--color-black-200);
}
.bg-col-blue-400 {
  background-color: var(--color-blue-400);
}
.bg-col-gray-100 {
  background-color: var(--color-gray-100);
}
