.text-color-white-100 {
  color: var(--color-white-100);
}
.text-color-white-200 {
  color: var(--color-white-200);
}
.text-color-black-100 {
  color: var(--color-black-100);
}
.text-color-blue-400 {
  color: var(--color-blue-400);
}
.text-color-gray-100 {
  color: var(--color-gray-100);
}
