.footer {
  width: 100%;
  padding: 1rem;
  @include display-flex(row, space-between, center);
  .social-media {
    & > * + * {
      margin-top: 1.5rem;
    }
    .list {
      @include display-flex(column, center, flex-start);
      & > * + * {
        margin-top: 0.75rem;
      }
    }
  }
  .owner {
    .title-2 {
      text-align: center;
      transform: rotate(-25deg);
    }
  }
  @media screen and (min-width:35rem) {
      padding: 5rem 10rem 1rem;
  }
}