.list {
  @include display-flex(row, space-between, center);

  button {
    border: none;
    background-color: transparent;
    padding: 0.5rem 1rem;
    cursor: pointer;

    &.title-2 {
      font-weight: normal;

      &.title__focus {
        background-color: rgba(131, 126, 126, 0.228);
        border-radius: 5px;
        font-weight: 600;
      }
    }
  }
}
