.project {
  border-radius: 1rem;
  & > * + * {
    margin-top: 10px;
  }

  img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    min-width: 328px;
    min-height: 171px;
  }

  .content {
    padding: 0 1rem 1rem;

    & > * + * {
      margin-top: 10px;
    }

    p {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    ul {
      & > * + * {
        margin-left: 0.5rem;
      }

      @include display-flex(row, flex-start, center);

      li {
        border-radius: 0.5rem;
        p {
          padding: 0.5rem 1rem;
        }
      }
    }
  }
}
